<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gamestudio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>

	<div th:replace="header::login_bar" />

	<h1>Games</h1>
	<ol>
		<li>minesweeper <a href="/minesweeper">here</a> <br /> <span
			th:text="${ratingMinesweeper}" /></li>
		<li>stones <a href="/stones">here</a><br /><span
			th:text="${ratingStones}" /></li>
		<li>pexeso <a href="/pexeso">here</a><br /><span
			th:text="${ratingPexeso}" /></li>
	</ol>

</body>
</html>
